name: Gold Price Bot

on:
  schedule:
    # Chạy mỗi 15 phút, từ 1:00 đến 11:00 UTC (tức 8:00 - 18:00 Việt Nam)
    - cron: '*/15 1-11 * * *'
  workflow_dispatch: # Cho phép bạn vẫn có thể nhấn nút chạy tay để test

jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: pip install requests beautifulsoup4 supabase

      - name: Run Crawler
        env:
          SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
          SUPABASE_SERVICE_ROLE_KEY: ${{ secrets.SUPABASE_SERVICE_ROLE_KEY }}
        run: python crawl_gold.py
